name: V2Ray Collector Check

on:
  schedule:
    - cron: '0 */4 * * *' # هر 4 ساعت (تست پینگ زمان‌بر است، 10 دقیقه خیلی زود است)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install telethon jdatetime

      - name: Run collector script
        env:
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
        run: python collector.py 

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add sub.txt sub_raw.txt
          if git diff --staged --quiet; then
            echo "No changes detected."
          else
            git commit -m "Updated Configs: $(date +'%Y-%m-%d %H:%M')"
            git push --force
          fi
