name: Update Configs

on:
  repository_dispatch:
    types: [trigger_action]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install telethon

      - name: Run Scraper
        env:
          # اگر در سکرت‌ها نباشند، این‌ها خالی می‌مانند و پایتون از مقدار پیش‌فرض استفاده می‌کند
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
        run: python main.py

      - name: Commit changes
        run: |
          git config --global user.name "Actions Bot"
          git config --global user.email "actions@github.com"
          git add sub.txt
          git commit -m "Update" || echo "No changes"
          git push
