name: V2Ray Collector

on:
  schedule:
    - cron: '*/30 * * * *' # تغییر به هر 30 دقیقه (10 دقیقه ممکن است باعث بن شدن اکشن شود)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install telethon

      - name: Run collector script
        env:
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
          # API_HASH و ID بهتر است در secrets باشند، اما اینجا هاردکد هم کار می‌کند
        run: python collector.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          # بررسی تغییرات
          git add sub.txt
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update configs [$(date)]"
            git push
          fi
